extends layout
block content
    .container.dash
      .row
        .col-md-6
          a(href='learn')
            h2 Continue Your Journey
            img.center-block(src='images/flag.jpg', alt='Continue')
        .col-md-6
          a(href='profile')
            h2 Your Profile and Progress
            img.center-block(src='images/profile.jpg', alt='Your profile')
    footer
      p Created by Rachel Philip