extends layout
block content

      .welcome 
        h2
          | It looks like you still have learning material to finish before starting the challenges. 
          a#darkLink(href='learn') Finish up learning
          | , then come back for the challenge questions.
      
    footer
      p Created by Rachel Philip