extends layout
block content    
     .longPara
        h3 What is Discrete CTF?
        p
          | Discrete CTF was developed to be an approachable, fun game to learn discrete mathematics concepts. Discrete math is required for most math and computer science majors. Discrete CTF can be used as a supplement to a class or as a way to find out if you have an interest in the subject.
        p
          | This site is called 'Discrete CTF' because the game is structured like many other capture-the-flag style learning games. In the game, each level has two phases: learning content and challenge questions. During the learning content phase, discrete math concepts are described, and you have to answer checkpoint questions to keep moving forward. In the challenge questions phase, you have to answer questions on the content that you've learned. Once you get through them, you earn a badge to show that you've beaten the level!
        p
          | Currently, Discrete CTF has a learning module to help users learn set theory. More modules are planned!
        h3 Who Should Use Discrete CTF?
        p
          | If you're a student, you should play Discrete CTF if you're in or considering a math or computer science program. You should also play if you're not sure what you want to do right now - you might find a new interest!
        p
          | If you're a teacher, Discrete CTF is a resource you can suggest to your students to get more practice. I also welcome suggestions for improving the game.
        h3 Who Am I?
        p
          | I'm a computer science student at Portland State University, entering the master's program in March 2016. This project was created as a capstone project for the New Beginnings Program, an accelerated program to prepare students with no CS background for the master's program in nine months.
      footer
        p Created by Rachel Philip
